<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
</head>
<body>
    <div class="container">
        <h1>App1</h1>
        <div id="error-message" class="error"></div>
        <div id="success-message" class="success"></div>
        
        <!-- Users Section -->
        <div class="section">
            <h2>Active Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="users-table"></tbody>
            </table>
        </div>

        <!-- Messages Section -->
        <div class="section">
            <h2>Messages</h2>
            <table>
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Message</th>
                        <th>Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="messages-table"></tbody>
            </table>
        </div>

        <!-- Send Message Section -->
        <div class="section">
            <h3>Send a Message</h3>
            <form id="sendMessageForm" class="send-message-form">
                <input type="text" id="receiver" placeholder="Receiver's Username" required>
                <textarea id="content" rows="4" placeholder="Type your message..." required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>

        <!-- Logout Button -->
        <form id="logoutForm" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>

    <script src="{% static 'script/send_message.js' %}"></script>
    <script>
        
    </script>
</body>
</html>